/* Outgoing links
-------------------------------------------------- */
a[href^="http://"]:not([href*="mborne.github.io"])::after,
a[href^="https://"]:not([href*="mborne.github.io"])::after {
    content: "\00a0↗️";
    font-size: 0.8em;
    opacity: 0.7;
}
